# Flask stack
Flask==1.1.4
Flask-Cors==3.0.10
Werkzeug==1.0.1
Jinja2==2.11.3
itsdangerous==1.1.0
click==7.1.2

# Spleeter stack
spleeter==2.3.2
typer==0.3.2
llvmlite==0.38.1
numba==0.58.1
resampy==0.4.3
scipy==1.10.1
norbert==0.2.1
pandas==1.5.3
librosa==0.8.1
soundfile==0.13.1
audioread==3.0.1
joblib==1.4.2
decorator==5.2.1

# TensorFlow stack
tensorflow==2.13.1
absl-py==2.3.1
astunparse==1.6.3
flatbuffers==25.2.10
gast==0.4.0
google-pasta==0.2.0
grpcio==1.70.0
h5py==3.11.0
keras==2.13.1
libclang==18.1.1
opt-einsum==3.4.0
packaging==25.0
protobuf==3.20.3
tensorboard==2.13.0
tensorflow-estimator==2.13.0
termcolor==2.4.0
typing-extensions==4.5.0
wrapt==1.17.3
tensorflow-io-gcs-filesystem==0.34.0

# Other utilities
ffmpeg-python==0.2.0
numpy==1.23.5
pooch==1.8.2
platformdirs==4.3.6
requests==2.32.4
future==1.0.0
